<div>
	<div class="contaner">
		<div class="row">
			<div class="col-m-12">
				<h2>登録情報の変更</h2>
				<div class="row">
				<div class="col-md-6">氏名　姓</div>
					<div class="col-md-6">氏名　名</div>
					<div class="col-md-6">氏名　セイ</div>
					<div class="col-md-6">氏名 メイ</div>
					<ul>
						<li> 郵便番号　</li>
						<li> 住所</li>
						<li> メールアドレス </li>
						<li> 電話番号 </li>
						<li> パスワード </li>
						<li>パスワード確</li>
					</ul>
					<div class="col-md-6"><%= link_to "変更", enduser_path, class: 'btn btn-default' %></div>
				</div>
			</div>
		</div>
	</div>
</div>
