<h1>本当に退会しますか?</h1>
<p>退会した場合・・・お客様の情報は削除されます。</p>

<%= link_to enduser_registration_path, method: :delete do %>
			<div class="btn btn-default">退会する</div>
<% end %>

<%= link_to enduser_path(current_enduser.id) do %>
			<div class="btn btn-default">マイページに戻る</div>
<% end %>