<div style="text-align: center; margin-top: 50px;">
	<p style="font-size: 40px;">ご購入が完了いたしました!</p>
	<p>引き続き買い物をお楽しみください</p>
	<%= link_to "商品一覧に戻る", items_path, class: "btn btn-default btn-lg" %>
</div>