<div class="container">
<div class="row">
<div class="col-lg-12">

<div class="container">
<div class="row">


	<div class="col-lg-8">
		<h1 style="margin-bottom: 30px;"><span class="label label-default">注文内容の確認・変更</span></h1>
	</div>

</div>
</div>

<div class="container">
<div class="row">

	<div  style="margin-bottom: 30px;">
		<div class="col-lg-5">
			<h2>送付先</h2>
		</div>
		<div class="col-lg-2">
			<%= link_to "変更", new_order_path, class: "btn btn-default" %>
		</div>
	</div>

</div>
</div>
