<div style="margin: 0 auto; text-align: center;">
<h1>お問い合わせ</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div>
				<h2> 名前</h2>
				<input type="text" name="first-name" maxlength="10" value="" placeholder="姓">
				<input type="text" name="last-name" maxlength="10" value="" placeholder="名">
			</div>
			<div>
				<h2> メールアドレス</h2>
				<input type="text" name="email" maxlength="50" value="" placeholder="メールアドレス">
			</div>
			<div>
				<h2> 問い合わせ内容</h2>
				<textarea name="contacts" placeholder="問い合わせ内容" style="width: 600px; height: 150px;"></textarea>
			</div>
		</div>
	</div>
</div>
<div style="margin: 0 auto; text-align: center;">
<%= link_to '送信', items_path, class: "btn btn-default btn-lg" %>
</div>