.col-md-6 {
	padding: 1em 1em;
    margin: 3em 0;
    color: #5d627b;
}

ul {
 list-style: none;
 font-size: 20px;
 line-height: 2
}

.buy_log {
	height: 60px;
}
.buy_log2 {
	height: px;
	width: 100px;
}